<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harita</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link href="/css/main.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw/dist/leaflet.draw.css" />

</head>
<body>
    <div id="map"></div>
    <div class="btn">
        <button class="mapBtn" onclick="metro_getir()">Metro Hattı</button>
        <button class="mapBtn" onclick="izban_getir()">İzban Hattı</button>
        <button class="mapBtn" onclick="tum_hatlar()">Tüm Hatlar</button>
    </div>
    <div class="ara">
        <h5>Hat Ara</h5>
        <input class="map-input" type="number" id="hatNo"  min="0" max="1000"  name="hatNo" placeholder="Hat Numarası">
        <button class="mapBtn" onclick="haritayiGoster()">Hat Ara</button>   
    </div>
    <div class="hat_ekle">
        <h5>Hat Ekle</h5>
        <input type="number" id="hat_num" placeholder="Hat No">
        <input type="text" id="hat_adi" placeholder="Hat İsmi">
        <input type="text" id="baslangic" placeholder="Başlangıç">
        <input type="text" id="bitis" placeholder="Bitiş">
        <button class="mapBtn" onclick="hat_ekle()">Yeni Hat Ekle</button>
    </div>
    <div class="durak_ekle">
        <h5>Durak Ekle</h5>
        <input class="map-input" type="number" id="hat_no" placeholder="Hat No">
        <input class="map-input" type="number" id="durak_id" placeholder="Durak ID">
        <input class="map-input" type="text" id="durak_adi" placeholder="Durak Adı">
        <button class="mapBtn" onclick="noktaEkle()">Durak Ekle</button>
        <button class="mapBtn" onclick="kaydet()">Kaydet</button>
    </div>
    <div class="navigation">
        <div class="toggle"></div>
        <ul>
            <li>
                <a href="anasayfa">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="title">Anasayfa</span>
                </a>
            </li>
            <li id="harita">
                <a href="harita">
                    <span class="icon"><ion-icon name="map"></ion-icon></span>
                    <span class="title">Haritalar</span>
                </a>
            </li>
            <li>
                <a href="sefer">
                    <span class="icon"><ion-icon name="timer"></ion-icon></span>
                    <span class="title">Sefer Saatleri</span>
                </a>
            </li>
            <li>
                <a href="kullanici">
                    <span class="icon"><ion-icon name="person-add"></ion-icon></span>
                    <span class="title">Kullanıcılar</span>
                </a>
            </li>
            <li>
                <a href="/login">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title">Çıkış</span>
                </a>
            </li>
        </ul>
        
    </div>
    <script src="app.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        let navigation = document.querySelector('.navigation');
        let toggle = document.querySelector('.toggle');
        toggle.onclick = function(){
            navigation.classList.toggle('active')
        }
    </script>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/js/map.js"></script>
</body>
</html>
