<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link href="/css/main.css" rel="stylesheet" media="screen">
    <title>Sidebar Menu</title>

</head>
<body>

    <div class="grafik">
        <canvas id="myPieChart" width="400" height="400"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="/js/grafik.js"></script>
    </div>
    
    <div class="navigation">
        <div class="toggle"></div>
        <ul>
            <li id="home">
                <a href="anasayfa">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="title">Anasayfa</span>
                </a>
            </li>
            <li>
                <a href="harita">
                    <span class="icon"><ion-icon name="map"></ion-icon></span>
                    <span class="title">Haritalar</span>
                </a>
            </li>
            <li>
                <a href="grafik">
                    <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                    <span class="title">Grafikler</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="help-outline"></ion-icon></span>
                    <span class="title">Help</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                    <span class="title">Setting</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <span class="title">Password</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title">Çıkış</span>
                </a>
            </li>
        </ul>
        
    </div>
    <script src="app.js"></script>
    <script src="/js/grafik.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        let navigation = document.querySelector('.navigation');
        let toggle = document.querySelector('.toggle');
        toggle.onclick = function(){
            navigation.classList.toggle('active')
        }
    </script>
</body>
</html>