@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    min-height: 100vh;
    background: #365fa1;
}

/* YENİ ÖZELLİKLER */

#map {
    height: 585px;
    width: 1000px;
    float: right;
}

.btn {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-left: 130px;
    margin-top: 10px;
    gap: 3px;
}


/* .ara {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-left: 130px;
    margin-top: 10px;
    gap: 3px;
}

.hat_ekle {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-left: 130px;
    margin-top: 10px;
    gap: 3px;
}

.durak_ekle {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-left: 130px;
    margin-top: 10px;
    gap: 3px;
} */
/* Buton div'i stil ayarları */
.btn {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100px;
    margin-left: 130px;
    margin-top: 10px;
}

/* Ara div'i stil ayarları */
.ara {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-left: 130px;
    margin-top: 10px;
}

/* Hat ekle div'i stil ayarları */
.hat_ekle {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    width: 100px;
    margin-left: 130px;
    margin-top: 10px;
}

/* Durak ekle div'i stil ayarları */
.durak_ekle {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    width: 100px;
    margin-left: 130px;
    margin-top: 10px;
}

.map-input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Button stil ayarları */
.mapBtn{
    padding: 5px 9px;
    cursor: pointer;
    background-color:	lightslategray;
    /* Buton rengi */
    color: #fff;
    /* Buton metin rengi */
    border: 2px solid #585151c6;;
    border-radius: 3px;
}
.mapBtn:hover {
    background-color: #335730; /* Hover rengi */
    border-color: #1b572d; /* Hover'da kenar çizgisi rengi */
}

.kart {
    width: 300px;
    height: 100px;
    display: flex;
    position:relative;
    margin-left: 100px;
    gap: 10px;
    text-align: center;
}

.sefer-content {
    background-color: gray;
    width: 800px;
    height: 500px;
    margin: 15px auto;
    padding: 10px;
    border: 2px solid #ab9a9a;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    /* Animasyonlu geçiş */
}
.sefer-content h5{
    text-align: center;
}

.sefer-form {
    margin-bottom: 20px;
}

.sefer-label {
    display: block;
    margin-bottom: 5px;
}

.sefer-input {
    width: 100px;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.sefer-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sefer-button:hover {
    background-color: #0056b3;
}

.sefer-tablo {
    max-height: 210px;
    /* veya istediğiniz başka bir değer */
    overflow-y: auto;
}

.sefer-table {
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
    border: 1px solid #ddd;
}
.sefer-table tbody td{
    width: 45px;
}

.sefer-table tbody tr,
td {
    border: 1px solid #000000;
    padding: 10px;
    border-collapse: collapse;
    text-align: center;
}


.sefer-baslik {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.sefer-th,
.sefer-td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    width: 50px;
}

.sefer-th {
    background-color: #f2f2f2;
}

.sefer-action-buttons button {
    margin-right: 5px;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.sefer-action-buttons button:hover {
    background-color: #218838;
}

.sefer-action-buttons button.delete {
    background-color: #dc3545;
}

.sefer-action-buttons button.delete:hover {
    background-color: #c82333;
}
.graphs{
    display: flex;
}
.graph{
    width: 560px; /* Tablonun genişliğini istediğiniz gibi ayarlayabilirsiniz */
    height:350px; /* Tablonun yüksekliğini istediğiniz gibi ayarlayabilirsiniz */
    border: 2px solid #000000; /* İsteğe bağlı: Tablo kenarlığı */
    margin-left: 100px;
    margin-top: 40px;
  }
.graph1{
    width: 560px; /* Tablonun genişliğini istediğiniz gibi ayarlayabilirsiniz */
    height:350px; /* Tablonun yüksekliğini istediğiniz gibi ayarlayabilirsiniz */
    border: 2px solid #000000; /* İsteğe bağlı: Tablo kenarlığı */
    margin-left:50px;
    margin-top: 40px;
  }
.main-graphs{
    display: inline;
}
.baslik{
    text-align: center;
    
}

.hidden {
    display: none;
}

#formContainer {
    float:right;
    background-color: gray;
    width:250px;
    height: 190px;;
    border: 2px solid #ab9a9a;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.kullanici{
    display: grid;
    background-color: blue;
    float: right;
    margin-right: 60px;
    border-radius: 8px;
}
.kullanici button{
    width: 250px;
}
#kaydetButton{
    width: 60px;
    background-color: #28a745;
}

.users{
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 150px;
}

.kullanici-tablo{
    margin-left: 150px;
    border-collapse: collapse;
}
.kullanici-tablo tbody tr,
td {
    width: 50%;
    margin-top: 20px;
    margin-left: 150px;
    width: 156px;
}
.kull-content table{
    border-collapse: collapse;
}


/*YENİ ÖZELLİKLER */


.navigation {
    position: fixed;
    inset: 5px;
    background: #287bff;
    width: 80px;
    border-left: 10px solid #287bff;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 15px 5px rgba(0, 0, 0, 0.05);
    transition: 0.5s;
}

.navigation.active {
    width: 200px;
    border-radius: 20px;
}

.toggle {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: #365fa1;
    transform: translateY(-5px);
    transition: 1s;
}

.toggle::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: #365fa1;
    transform: translateY(5px);
    transition: 1s;
}

.navigation.active .toggle::before {
    transform: translateY(0px) rotate(-405deg);
}

.navigation.active .toggle::after {
    transform: translateY(0px) rotate(225deg);
}

.navigation ul {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: large;
    font-weight: bold;
    /*background: #fff;*/
}

.navigation ul li:hover {
    background: #fff;
    color: #222;
}

/*
.navigation ul li:nth-child(1){
    top: 20px;
    margin-bottom: 40px;
    background: none;
}
*/
.navigation ul li:hover::before {
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 7.5px 7.5px 0 7.5px #fff;
}

.navigation ul li:hover::after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 7.5px -7.5px 0 7.5px #fff;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: black;
}

.navigation ul li:hover a {
    color: #365fa1;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon icon-icon {
    font-size: 1.75rem;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}